body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: #F5EAEA;
  font-family: 'Labrada', serif;
  color: #333;

}

.heading {
  height: 10vh;
  font-size: 4rem;
  margin: 0;
  padding: 10px;
  color: #060047;
}


.rules {
  height: 20vh;
  font-family: 'Text Me One', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ff9900;
  padding: 1rem;
}

.highbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.highScore {
  background-color: plum;
  padding: 1rem;
  border-radius: 10px;
  color: #e7e7e7;
}

.timeBar {
  width: 20rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
}

.greyBar {
  height: 1.5rem;
  width: 20rem;
  background-color: orangered;
  opacity: 0.6;
  position: relative;
  top: -1.5rem;
  border-radius: 10px;
}

/* .container {

} */

.question {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0rem auto; */
}

.operation {
  display: inline-block;
  font-size: 2rem;
  margin: auto 10px;
}

.num {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 3rem;
  text-align: center;
  
}

.num:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



.total {
  background-color: plum;
  margin-left: 3rem;
  width: 130px;
  height: 100px;
  align-self: center;
  text-align: center;
}

.submitBtn {
  width: 4rem;
  height: 3rem;
  align-self: center;
  background-color: rgb(237, 127, 119);
  color: rgba(255, 235, 235, 0.97);
  border: none;
  box-shadow: -4px 4px rgb(87, 47, 44);
  border-radius: 1rem;
}
  .submitBtn:active {
    position: relative;
    left: -2px;
    bottom: -2px;
    box-shadow: -2px 2px rgb(127, 71, 67);
  }

  .submitBtn:hover {
    background-color: rgb(253, 172, 166);
  }


.btn {
    background-color: rgb(0, 161, 121);
    width: 5rem;
    height: 5rem;
    align-self: center;
    /* margin: auto; */
    border-radius: 1rem;
    border: none;
    color: rgb(224, 255, 245);
    box-shadow: -4px 4px rgb(15, 50, 41);
}

  .btn:active {
    position: relative;
    left: -2px;
    bottom: -2px;
    box-shadow: -2px 2px rgb(15, 50, 41);
  }

  .btn:hover {
    background-color: rgb(32, 108, 89);
    color: rgb(222, 255, 213);
  }

.message {
  font-size: 2rem;
  margin: 2rem;
  padding: 1rem;
}

@media screen and (width < 700px){
  .heading {
    font-size: 3rem;
    display: block;
  }

  .rules {
    display: block;
    margin-top: 5rem;
  }

  .num {
    width: 80px;
    height: 70px;
  }

  .question {
    display: flex;
    flex-wrap: wrap;
  }
}
